html{
	font-size:12px;
}

@font-face {font-family: 'iconfont';
    src: url('../assest/iconfont.eot'); /* IE9*/
    src: url('../assest/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assest/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../assest/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../assest/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: 'brandon';
    src: url('../assest/brandon_light-webfont.woff') format('woff'); /* chrome、firefox */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

.col-md-25 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}



.sp1{
	padding:0;
}

.md-show{
	display: none;
}

.slide{
	position: relative;
}

.hrefsm:hover,.hrefsm:active{
	text-decoration: none;
	color: #e34d42;
}

.hrefsm{
	display: inline-block;
	margin-top:3rem;
}

.hi{
	position: absolute;
	top:10%;
	left:36%;
	font-family: 'brandon';
	font-size: 4rem;
	color: #009fe3;
}

#planeMachine{
	height: 300px;
}

@media (min-width: 768px) {
	
	.hi{
		font-size:8rem;
	}	
	.col-ytr-45 {
	  position: relative;
	  min-height: 1px;
	  padding-right: 15px;
	  padding-left: 15px;
	  float: left;
	  width: 37.5%;
	}
}

@media (min-width: 992px) {
	
	.col-md-25 {
	float: left;
	width: 20.833333335%;
	}
	
	.md-show{
		display: block;
	}
	
	.md-dis{
		display: none;
	}
	

}




.intro{
	background:#f8f5ef;
}

.yellow2{
	background: #eec22f;
}

.warp-intro{
}

.oop{
	padding:0 22%;
}

.container.sp{
	padding:0;
}

.next{
	border: 5px solid #007bc3;
	background-color: transparent;
	color: #007bc3;
	position: relative;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
	padding:0 6%;
	margin-top: 4%;
	display: inline-block;
	cursor: pointer;
}

.next:hover{
	background-color:#007bc3;
}



#social{
	position: absolute;
	top:0;
	right: 0;
	width: 200px;
	height: 200px;
}

.iconfont1{
	position: absolute;
	font-size: 2.4rem;
	color: #cccccc;
	right: 64px;
	top:10px;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}

.iconfont2{
	position: absolute;
	font-size: 2.4rem;
	color: #cccccc;
	right: 28px;
	top: 48px;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}

.iconfont3{
	font-size: 2rem;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}

.iconfont3.go{
	color: #fff;
}

.div_line{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 1px;
	height:100px;
	display: block;
	position: absolute;
	background-color: #cccccc;
	right: 58px;
}

.iconfont1:hover { color: #1dadeb; }
.iconfont2:hover { color: #9abd36; }